{% extends 'base.html' %}

{% block title %}Список користувачів{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4 text-center">Список користувачів</h1>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ім'я користувача</th>
                    <th scope="col">Email</th>
                    <th scope="col">Дата приєднання</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.date_joined }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
