<!-- templates/nomenklatyra/gpufamily_list.html -->
{% extends 'base.html' %}

{% block title %}Список сімейств графіки{% endblock %}

{% block header %}Список сімейств графіки{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Список сімейств графіки</h4>
                    <a href="{% url 'gpufamily_create' %}" class="btn btn-primary mb-3">Додати сімейство графіки</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Назва</th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for family in gpufamilies %}
                                <tr>
                                    <td>{{ family.name }}</td>
                                    <td>
                                        <a href="{% url 'gpufamily_update' family.pk %}" class="btn btn-sm btn-warning">Редагувати</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
