{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Додати HDD{% endblock %}

{% block header %}Додати HDD{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Додати HDD</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.group|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.manufacturer|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.drive_type|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.capacity|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.form_factor|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.interface|as_crispy_field }}
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary">Додати</button>
                            <a href="{% url 'hdd_list' %}" class="btn btn-secondary">Скасувати</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
