<!-- templates/nomenklatyra/hddinterface_form.html -->
{% extends 'base.html' %}
{% block title %}Додати/Редагувати Інтерфейс підключення HDD{% endblock %}
{% block content %}
<h1>{% if form.instance.pk %}Редагувати{% else %}Додати{% endif %} Інтерфейс підключення HDD</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a href="{% url 'hddinterface_list' %}" class="btn btn-secondary">Скасувати</a>
</form>
{% endblock %}
