<!-- templates/nomenklatyra/manufacturer_list.html -->
{% extends 'base.html' %}

{% block title %}Список виробників{% endblock %}

{% block content %}
    <h1>Список виробників</h1>
    <a href="{% url 'manufacturer_create' %}" class="btn btn-primary mb-2">Додати виробника</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Назва виробника</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for manufacturer in manufacturers %}
                <tr>
                    <td>{{ manufacturer.name }}</td>
                    <td>
                        <a href="{% url 'manufacturer_update' manufacturer.pk %}" class="btn btn-secondary btn-sm">Редагувати</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
